<form hx-post="/api/tasks" hx-swap="outerHTML" hx-target="#task-add" hx-trigger="submit">
  <article data-theme="light">
    <input type="text" name="task" class="task" placeholder="Add your new task here..." aria-label="Task"
      aria-invalid="{% if task_added %}false{% endif %}" aria-describedby="{% if task_added %}valid-helper{% endif %}" required>

    <button type="submit">
      <i class="far fa-plus-square"></i> <b>ADD NEW TASK</b>
    </button>
  </article>
</form>

{% if task_added %}
<script>
  setTimeout(function () {
    location.reload();
  }, 500);
</script>
{% endif %}