<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <meta name="description" content="Just another to-do app." />
  <meta name="author" content="slashedzer0" />
  <link rel="icon" href="/static/icon/favicon.ico" />
  <link rel="stylesheet" href="/static/css/pico.cyan.min.css" />
  <link rel="stylesheet" href="/static/css/pico.colors.min.css" />
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css" />
  <script src="/static/js/htmx.min.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <title>Takenlijst</title>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><strong>📝 Takenlijst</strong></li>
      </ul>
      <ul>
        <li><a href="https://github.com/slashedzer0/Takenlijst-MVC" target="_blank" class="contrast"><u>Source
              Code</u></a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <section id="task-add">
      <hgroup>
        <h2>New task</h2>
        <p>What do you want to do?</p>
      </hgroup>
      {% include "partials/task_form.html" %}
    </section>
    <hr>
    <section id="task-list">
      <hgroup>
        <h2>Task list</h2>
        <p>Step-by-step to success.</p>
      </hgroup>
      <div hx-get="/api/tasks" hx-trigger="load, taskAdded from:body" hx-swap="innerHTML">
        <!-- Task list will be loaded here -->
      </div>
    </section>
  </main>
  <footer class="container">
    <small>Powered by <a href="https://picocss.com" target="_blank">✨ Pico CSS</a></small>
  </footer>
</body>

</html>